header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 75px;
  background-color: aquamarine;
}

nav ul {
  display: flex;
}

li {
  list-style: none;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: #000;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  background: #000;
  transition: 0.5s;
}

li a:hover {
  background: #fff;
  color: #000;
}

li a:active {
  background: #000;
  color: #fff;
}