header, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 75px;
  background-color: aquamarine;
}

nav ul {
  display: flex;
}

li {
  list-style: none;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: #000;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  background: #000;
  transition: 0.5s;
}

li a:hover {
  background: #fff;
  color: #000;
}

li a:active {
  background: #000;
  color: #fff;
}

@media screen and (max-width: 600px) {
  header {
    padding: 0;
  }

  footer {
    padding: 0;
    flex-wrap: wrap;
  }

  footer ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
  }

  footer ul li {
    width: 100%;
    margin: 20px 0;
  }

  header nav {
    width: 100%;
  }
  nav ul {
    flex-direction: wrap;
    justify-content: space-evenly;
  }
  li {
    margin-right: 0;
  }
  li a {
    margin: 0;
    padding: 10px;
  }

  li a:hover {
    background: #fff;
    color: #000;
  }

  li a:active {
    background: #000;
    color: #fff;
  }

  footer {
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  footer nav ul {
    margin-bottom: 10px;
  }

  footer nav ul li {
    width: 30%;
    margin: 20px 10px;
  }

  .logo {
    display: none;
  }
}